<h1>Items</h1>

<%= link_to "Add Item", new_item_path %>

<div class="row">
  <%- @items.each do |item| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200">
        <div class="caption">
          <h3><%= item.name %></h3>
          <p><%= number_to_currency item.price %></p>
          <p>
            <%= form_tag stripe_payment_path do %>
              <%= hidden_field_tag :amount, item.price * 100 %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                data-image="/assets/moon.jpg"
                data-name="Girls Shoppe"
                data-description="<%= item.name %> (<%= number_to_currency item.price %>)"
                data-amount="<%= (item.price or 0) * 100 %>">
              </script>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

